html, body {

  box-sizing: border-box;
  font-size: 100%;
}

*, *::after, *::before {
  box-sizing: inherit;
}
body {
  margin: 0;
  padding: 0;
  line-height: 1.3;
  font-family: $fonte;
  font-size: font-sm;
  color: $texto;
  background-color:$cor_fundo;
}

a, a:link, a:visited {
  text-decoration: none;
  color: $destaque_primario;
}

p {
  text-indent: 1.5rem;
  overflow-wrap: break-word;
  text-align: justify;
  justify-content: left;
}

img {
  overflow: hidden;
}

.flex {
  display: flex;

  &-jc-sb {
    justify-content: space-between;
  }

  &-js-c {
    justify-content: center;
  }

  &-ai-c {
    align-items: center;
  }
}

.corpo {
  width: 100%;
  padding: 76px 0 0 0;
}

.linhas-divisoria {
  width: 100%;
  background: $inicio_fundo;

  > span {
    display: block;
    position: inherit;
    height: 2px;
    background-color: #556069;
    border-radius: 10px 10px 10px 10px;
    margin: 0 0 10px 0;
  }
  span:nth-child(1) {
    width: 70%;
  } 
  span:nth-child(2) {
    width: 65%;
  }
  span:nth-child(3) {
    width: 60%;
    margin: 0;
  }
}