.inicio {
  display: flex;
  width: 100%;
  height: 100vh;
  background-color: $inicio_fundo;
  color: $texto;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  background-image: url('../public/img/inicio-detalhes.svg');
  background-position: -300px 0;
  background-repeat : no-repeat;
  background-size: 300%;
  overflow: hidden;
  
  &-card {
    width: 90%;
    background: rgba(20, 37, 52, 0.65);
    padding: 20px;
    border-radius: 13px;

    &-titulo {
      clear: both;
      font-family: 'Century Gothic';
      font-weight: bold;
      font-size: 1.3rem;
    }
    &-texto {
      clear: both;
      text-align: justify;
      font-family: 'Century Gothic';
      font-size: 1rem;
      font-style: normal;
      font-weight: normal;
    }
  } 
}